/* body {
  height: 100%; */
  /* background-color: beige; */
/* } */

/* .today-todo {
  border: 1px solid rgb(221, 194, 201);
  border-radius: 100px;
  background-color: rgb(233, 227, 227);

} */

.trans {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.completed {
  text-decoration: line-through;
}

#list-todo-today,
#list-filter-todo {
  border-radius: 30px;
}
/* #card-detail-project,
#my-project { */

/* tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
th {
  text-align: center;
}

td {
  text-align: left;
}

th {
  background-color: rgb(190, 223, 229);
}
