body {
  height: 100vh;
  width: 100%;
}
.trans {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.completed-strike {
  text-decoration: line-through;
}

#list-todo-today,
#list-filter-todo {
  border-radius: 30px;
}

/* tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

th {
  background-color: rgb(190, 223, 229);
}

#schedule-board {
  border-bottom: 2px solid grey
}